{% extends "bootstrap.html" %}

{% block title %}OceanSound Demo{% endblock %}

{% block css %}
    <link href="/static/css/OpenLayers.css" rel="stylesheet">
    <link href="/static/css/google.css" rel="stylesheet">
    <link href="/static/css/ocsnddemo.css" rel="stylesheet">
    <link href="/static/css/MIDIPlayer.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
    <script src="https://maps.google.com/maps/api/js?v=3.9&sensor=false"></script>
    <script src="/static/js/OpenLayers.js"></script>

    <script src="/static/js/bigscreen.min.js"></script>

    <script src="/static/js/map.js"></script>

    <script src="/static/js/MIDI/AudioDetect.js" type="text/javascript"></script>
    <script src="/static/js/MIDI/LoadPlugin.js" type="text/javascript"></script>
    <script src="/static/js/MIDI/Plugin.js" type="text/javascript"></script>
    <script src="/static/js/MIDI/Player.js" type="text/javascript"></script>
    <script src="/static/js/Window/DOMLoader.XMLHttp.js" type="text/javascript"></script>
    <script src="/static/js/Window/DOMLoader.script.js" type="text/javascript"></script>
    <script src="/static/js/Window/Event.js" type="text/javascript"></script>
    <!-- jasmid -->
    <script src="/static/js/jasmid/stream.js"></script>
    <script src="/static/js/jasmid/midifile.js"></script>
    <script src="/static/js/jasmid/replayer.js"></script>
    <!-- extras -->
    <script src="/static/js/WebMIDIAPI.js" type="text/javascript"></script>
    <script src="/static/js/Base64.js" type="text/javascript"></script>
    <script src="/static/js/base64binary.js" type="text/javascript"></script>
    <!-- flot -->
    <script src="/static/js/jquery.flot.js" type="text/javascript"></script>

{% endblock %}

{% block nav %}
    <ul class="nav pull-right">
        <li><a href="#" id="fullscreen">Fullscreen</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Layers
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" id="layers">
                <li class="divider"></li>
            </ul>
        </li>
        <li><a href="#help_modal" data-toggle="modal" id="help_nav">Help</a></li>
    </ul>
{% endblock %}

{% block main %}
    <div id="map"></div>

    <div class="modal fade" id="help_modal">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>OceanSound demo</h3>
      </div>
      <div class="modal-body">

        <ul class="nav nav-tabs" id="helpTab">
          <li class="active">
            <a href="#TabWelcome" data-toggle="tab">Welcome</a>
          </li>
          <li><a href="#TabExpl" data-toggle="tab">Explanation</a></li>
          <li><a href="#TabContrib" data-toggle="tab">Contribute</a></li>
          <li><a href="#TabTeam" data-toggle="tab">The Team</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="TabWelcome">
            <p> Welcome! This is a demo for OceanSound, a sonification
                module. For more details go to the
                <a href="#TabExpl" id="gotoexpl">explanation</a> and
                <a href="#TabContrib" id="gotocontrib">contributing</a>
            </p>
            <div class="row">
                <p class="span3">We are hosted at
                   <a href="https://rackspace.com">Rackspace</a>
                   and strongly recommend it, awesome service!
                </p>
                <p class="span2">
                   <a href="https://rackspace.com"><img src="/static/img/Rackspace_Cloud_Company_Logo_clr_300x109.jpg"></a>
                </p>
            </div>
          </div>
          <div class="tab-pane" id="TabExpl">
            <p>This demo uses the product of Chlorophyll-a from the
               <a href="http://oceancolor.gsfc.nasa.gov/">
                 NASA-MODIS Aqua </a>
               satellite. This sensor acquires data in several spectral
               bands, and many products are available for ocean
               surface. We are using monthly means since 2002.</p>

            <p>When you click at any point in the ocean, the time series
               of this point is extracted and converted to music. The chlorophyll concentration
               defines the pitch of a note (in a C Major scale).</p>

            <p>A curious sidenote: we discovered after implementing
               this method that Heitor Villa-Lobos, a Brazilian
               composer, had already done something quite close with his
               <a href="http://www.naxos.com/mainsite/blurbs_reviews.asp?item_code=8.573043&catNum=573043&filetype=About%20this%20Recording&language=English">
                 'Milimeterization'</a></p>
          </div>
          <div class="tab-pane" id="TabContrib">
            <p> All code is available on GitHub. Take a look at the
                <a href="https://github.com/DataSounds/OceanSound">
                  Python module</a> or
                <a href="https://github.com/DataSounds/oceansound_demo">
                  this demo</a>.</p>
<!--            <p>If you want to help us with server costs you can tip us on Gittip</p>-->
          </div>
          <div class="tab-pane" id="TabTeam">
            <p>
              <a href="http://ciclotux.org">
                Arnaldo Russo</a> </p>
            <p>
              <a href="http://luizirber.org">
               Luiz Irber</a></p>
          </div>
         </div>

      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Let's get started!</a>
      </div>
    </div>


{% endblock %}

{% block footer %}

 <div class="player" style="height: 100px; box-shadow: 0 -1px #000; margin-bottom: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
  <div style="margin: 0 auto; width: 160px; float: left;">
  <input type="image" src="/static/img/MIDI/pause.png" align="absmiddle" value="pause" id="pausePlay">
  <input type="image" src="/static/img/MIDI/stop.png" align="absmiddle" value="stop" id="stopPlay">
  </div>
  <div class="time-controls" style="float: left; margin: 0; position: relative; top: 5px;">
   <span id="time1" class="time">0:00</span>
   <span id="capsule">
	<span id="cursor"></span>
   </span>
   <span id="time2" class="time" style="text-align: left;">-0:00</span>
  </div>
        <div class="demo-container">
            <div id="placeholder" class="demo-placeholder"></div>
        </div>

 </div>


{% endblock %}
